<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Title</title>
</head>
<body>
<div style="display: flex;">
    <div style="flex: 50%;">
 <h2>Display Albums</h2>
    <ul th:each="albums : ${allAlbums}">
        <li th:text="${albums.title}"></li>
        <li th:text="${albums.artist}"></li>
        <li th:text="${albums.songCount}"></li>
        <li th:text="${albums.length}"></li>
        <img th:src="${albums.imageUrl}" alt="cats" height="150">
    </ul>
    </div>

    <div style="flex: 50%;">
     <h1>Input new albums</h1>
     <form method="POST" action="/album">
         Title:<br>
         <input type="text" name="title"><br>
         Artist:<br>
         <input type="text" name="artist"><br>
         SongCount:<br>
         <input type="text" name="songCount"><br>
         Length:<br>
         <input type="text" name="length"><br>
         ImageUrl:<br>
         <input type="text" name="imageUrl"><br>
         <input type="submit">
     </form>
    </div>
</div>
</body>
</html>